/* Navbar.css */
.navbar-new {
  background-color: rgb(224, 225, 221);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* allow items to wrap */
  box-shadow: 0 2px 8px rgba(216, 205, 205, 0.05);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-logo {
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.navbar-logo a {
  text-decoration: none;
  color: #11335c;
  font-size: 32px;
  font-weight: 800;
  padding: 8px 20px;
  transition: all 0.3s ease;
}

.navbar-logo a:hover {
  color: #250285;
  background-color: #e2eef0;
  border-radius: 8px;
}

.navbar-links {
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.navbar-links a {
  text-decoration: none;
  color: #11335c;
  font-size: 20px;
  font-weight: 700;
  padding: 6px 10px;
  transition: all 0.3s ease;
}

.navbar-links a:hover {
  color: #250285;
  background-color: #07d3f2;
  border-radius: 8px;
}

/* Optional: adjust layout for desktop view */
@media (min-width: 768px) {
  .navbar-new {
    flex-wrap: nowrap;
    padding: 25px 30px;
  }

  .navbar-logo {
    flex: unset;
    margin-bottom: 0;
  }

  .navbar-links {
    flex: unset;
    justify-content: flex-end;
    gap: 80px;
  }

  .navbar-logo a {
    font-size: 45px;
    padding-left: 50px;
  }

  .navbar-links a {
    font-size: 24px;
  }
}
