/* Navbar.css */

.navbar-new {
  background-color: rgb(224, 225, 221);
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  box-shadow: 0 2px 8px rgba(216, 205, 205, 0.05);
  position: sticky;
  top: 0;
  z-index: 1000;
  flex-wrap: wrap;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo a {
  text-decoration: none;
  color: #11335c;
  font-size: 45px;
  font-weight: 800;
  padding: 5px 100px;
  transition: all 0.3s ease;
}

.navbar-logo a:hover {
  color: #250285;
  background-color: #e2eef0;
  border-radius: 8px;
}

.navbar-links {
  display: flex;
  gap: 100px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

/* Links */
.navbar-links a {
  text-decoration: none;
  color: #11335c;
  font-size: 30px;
  font-weight: 800;
  padding: 0px 2px;
  transition: all 0.3s ease;
}

.navbar-links a:hover {
  color: #250285;
  background-color: #07d3f2;
  border-radius: 8px;
}

/* Hide hamburger icon completely */
.hamburger {
  display: none !important;
}

/* Mobile view – show items in row with wrapping */
@media (max-width: 992px) {
  .navbar-new {
    flex-direction: row;
    height: auto;
    padding: 15px 10px;
    justify-content: space-between;
  }

  .navbar-logo a {
    padding: 10px 20px;
    font-size: 34px;
  }

  .navbar-links {
    flex-direction: row;
    gap: 30px;
    margin-top: 10px;
    justify-content: flex-start;
  }

  .navbar-links a {
    font-size: 20px;
    padding: 6px 8px;
  }
}
